<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= a %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  RewriteEngine On
  
  <% if @node['phpinfo_enabled'] != false %>
  Alias /phpinfo.php /var/www/phpinfo.php
  <% end %>
  <% if @node['magento']['mage_check_enabled'] != false %>
  Alias /magento-check.php /var/www/magento-check.php
  <% end %>

  <% if @node['magento']['mage_dev_enabled'] != false %>
  SetEnv MAGE_IS_DEVELOPER_MODE 1
  <% end %>
  
  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
  
  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Location /server-status>
    SetHandler server-status
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
  </Location>

  LogLevel info
  ErrorLog <%= node['apache']['log_dir'] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node['apache']['log_dir'] %>/<%= @params[:name] %>-access.log combined

  RewriteEngine On
  RewriteLog <%= node['apache']['log_dir'] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0
</VirtualHost>